# Project exclude paths
/.gradle/
.vscode/
.idea/
# Build output
/build/
/target/
# Logs
/logs/
# OS files
.DS_Store
Thumbs.db
# Java files
*.class
# Database files
*.db
# IntelliJ project files
*.iml
# Eclipse project files
.project